<auftragsverwaltung-ng-breadcrumb [hidden]="summaryMode"></auftragsverwaltung-ng-breadcrumb>

<mat-card>
    <mat-card-header>
        <mat-card-title *ngIf="!summaryMode">
            <action-headline
                [level]="2"
                [text]="job.id"
                [actionButtons]="[
                    {action: gotoEditHappened, color: 'primary', title: 'Bearbeiten', icon: 'edit'},
                    {action: openTaskFormDialogHappened, color: 'primary', title: 'Zeit buchen', icon: 'playlist_add'}
                ]"
            ></action-headline>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row no-gutters mb-3 deadline-info align-items-center position-relative shadow rounded">
            <svg class="deadline-info__deadline-progress-bar">
            <rect class="deadline-info__deadline-progress-bar__elapsed" [attr.width]="100 - job.getPercentageTimeLeft() + '%'" style="fill:rgba(239, 76, 76);" />
                  <rect class="deadline-info__deadline-progress-bar__left" [attr.x]="100 - job.getPercentageTimeLeft() + '%'" [attr.width]="job.getPercentageTimeLeft() + '%'" style="fill:rgba(139, 195, 74);" />
                  </svg>
            <div class="col-4 text-left pl-2">
                <span class="d-block font-weight-bold text-black-50">Eingang</span>
                <span class="d-block font-weight-bold deadline-info__date">{{job.dateIncoming | date:'mediumDate'}}</span>
            </div>
            <div class="col-4 font-weight-bold text-center">
                <mat-icon>arrow_forward</mat-icon>
            </div>
            <div class="col-4 text-right pr-2">
                <span class="d-block font-weight-bold text-black-50">Abgabe</span>
                <span class="d-block font-weight-bold deadline-info__date">{{job.dateDeadline | date:'mediumDate'}}</span>
            </div>
        </div>

        <mat-expansion-panel class="mb-4">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-weight-bold">Buchungen</mat-panel-title>
                <mat-panel-description class="flex-fill">Gesamtzeit aktuell: {{numberService.minutesToHourMinuteString(job.getOverallWorkingTimeInMinutes())}}</mat-panel-description>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="job.tasks" class="w-100">
                   <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let task"> {{task.id}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Datum </th>
                    <td mat-cell *matCellDef="let task"> {{task.date | date:'mediumDate'}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
                    <td mat-cell *matCellDef="let task"> {{task.description}} </td>
                </ng-container>

                <ng-container matColumnDef="workingTime">
                    <th mat-header-cell *matHeaderCellDef> Dauer </th>
                    <td mat-cell *matCellDef="let task"> {{numberService.minutesToHourMinuteString(task.workingTime)}} </td>
                </ng-container>

                <ng-container matColumnDef="arranger">
                    <th mat-header-cell *matHeaderCellDef> Bearbeiter*in </th>
                    <td mat-cell *matCellDef="let task"> {{task.arranger.firstname}} {{task.arranger.lastname}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Aktionen </th>
                    <td mat-cell *matCellDef="let task">
                        <button mat-mini-fab (click)="showTaskFormDialog(task)" type="button" color="primary" title="Task ändern">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['id', 'date', 'description', 'workingTime', 'arranger', 'actions']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id', 'date', 'description', 'workingTime', 'arranger', 'actions'];"></tr>
            </table>
        </mat-expansion-panel>

        <div class="h4">Beschreibung</div>
        <div class="mb-3" [innerHtml]="job.description | highlight: textToHighlight"></div>

        <div class="h4">Kunde</div>
        <div class="d-block font-weight-bold" [innerHtml]="job.customer.name | highlight: textToHighlight"></div>
        <div>{{job.customer.address}}</div>
        <div class="mb-3">{{job.customer.postcode}} {{job.customer.city}}</div>
        <div>{{job.customer.email}}</div>
        <div class="font-weight-bold">{{job.customer.contactPerson}}</div>
        <div>Tel: {{job.customer.phone}}</div>
        <div class="mb-3">Fax: {{job.customer.fax}}</div>

        <div class="h4" matLine>Notizen</div>
        <div class="mb-3" [innerHtml]="job.notes || '--' | highlight: textToHighlight"></div>

        <div class="h4" matLine>Externer Einkauf</div>
        <div class="mb-3" [innerHtml]="job.externalPurchase || '--'  | highlight: textToHighlight"></div>

        <div class="h4" matLine>Bearbeiter</div>
        <mat-chip-list>
            <mat-chip *ngFor="let arranger of job.arrangers" selected>
                {{arranger.firstname}} {{arranger.lastname}}
        </mat-chip>
    </mat-chip-list>
</mat-card-content>

<mat-divider class="position-relative my-4"></mat-divider>

<mat-card-footer class="m-0">
    <mat-chip-list>
        <mat-chip>erstellt am: {{job.createdAt | date:'medium'}}</mat-chip>
        <mat-chip>aktualisiert am: {{job.updatedAt | date:'medium'}}</mat-chip>
    </mat-chip-list>
</mat-card-footer>
</mat-card>