<auftragsverwaltung-ng-breadcrumb></auftragsverwaltung-ng-breadcrumb>

<action-headline [level]="1" [text]="'Job ' + job.id + ' bearbeiten'" [actionButtons]="[{action: discardHappened, color: 'warn', title: 'Verwerfen', icon: 'cancel'}]"></action-headline>

<form [formGroup]="form" (submit)="form.valid && save()" class="pt-3">
    <mat-form-field class="w-100">
        <input matInput formControlName="dateIncoming" [matDatepicker]="dateIncomingPicker" placeholder="Eingangsdatum">
        <mat-datepicker-toggle matSuffix [for]="dateIncomingPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateIncomingPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="w-100">
        <input matInput formControlName="dateDeadline" [matDatepicker]="dateDeadlinePicker" placeholder="Ablieferdatum">
        <mat-datepicker-toggle matSuffix [for]="dateDeadlinePicker"></mat-datepicker-toggle>
        <mat-datepicker #dateDeadlinePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Lieferart" formControlName="deliveryType" required>
    </mat-form-field>
    <mat-form-field class="d-block">
        <textarea matInput rows="5" placeholder="Beschreibung" formControlName="description" required></textarea>
    </mat-form-field>
    <mat-form-field class="d-block">
        <textarea matInput rows="5" placeholder="Notizen" formControlName="notes" required></textarea>
    </mat-form-field>
    <mat-form-field class="d-block">
        <textarea matInput rows="5" placeholder="Einkauf" formControlName="externalPurchase" required></textarea>
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Rechnungsnummer" formControlName="invoiceNumber" required>
    </mat-form-field>
    <mat-form-field class="d-block">
        <mat-select formControlName="arrangers" placeholder="Bearbeiter*innen" multiple required>
            <mat-option *ngFor="let arranger of job.arrangers" [value]="arranger">{{arranger.firstname}} {{arranger.lastname}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Job speichern</button>
</form>