<h1 class="mb-3">
    <ng-container *ngIf="!editMode">Kunde ansehen</ng-container>
    <ng-container *ngIf="editMode">Kunde bearbeiten</ng-container>
    <button mat-raised-button color="primary" *ngIf="!isOwnProfile && !editMode" [routerLink]="['../bearbeiten']" class="ml-3 align-middle">Kunde bearbeiten</button>
    <button mat-raised-button color="warn" *ngIf="!isOwnProfile && editMode" (click)="askForCancel()" class="ml-3 align-middle">Bearbeiten abbrechen</button>
</h1>
<p>
    <ng-container *ngIf="!editMode">Hier können die Details zum aktuell aufgerufenen Kunde eingesehen werden.</ng-container>
    <ng-container *ngIf="editMode">Hier können die Details zum aktuell aufgerufenen Kunde bearbeitet werden.</ng-container>
</p>
<form [formGroup]="form" (submit)="form.valid && save()" class="pt-3">
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="PLZ" formControlName="postcode" required>
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Ort" formControlName="city" required>
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Adresse" formControlName="address" required>
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Kontaktperson" formControlName="contactPerson" required>
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="E-Mail" formControlName="mail" required>
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Telefon" formControlName="phone" required>
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Fax" formControlName="fax" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || !editMode">Daten speichern</button>
</form>
