<auftragsverwaltung-ng-breadcrumb [buttons]="[{icon: 'add_box', route: '/kunden/hinzufuegen'}]"></auftragsverwaltung-ng-breadcrumb>

<mat-form-field class="w-100">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table class="w-100" mat-table matSort [dataSource]="customers">
       <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="postcode">
        <mat-header-cell mat-sort-header *matHeaderCellDef>PLZ</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.postcode}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Ort</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.city}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Adresse</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.address}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="contactPerson">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Ansprechpartner</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.contactPerson}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="mail">
        <mat-header-cell mat-sort-header *matHeaderCellDef>E-Mail</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.mail}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Telefon</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.phone}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fax">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Fax</mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.fax}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row class="cursor-pointer" *matRowDef="let customer; columns: columnsToDisplay" (click)="showCustomerDetails(customer)"></mat-row>
</table>
<mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>