<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #mainMenu
        class="sidenav"
        fixedInViewport="true"
        mode="push"
        >
        <mat-toolbar color="primary">
            <span>Menü</span>
            <span class="flex-fill"></span>
            <button class="mat-button" type="button" (click)="uiService.closeMainMenu()">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">close</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngIf="sessionService.getUser()?.isAdministrator()">
                <mat-icon class="mat-icon material-icons mr-3" role="img" aria-hidden="true">people</mat-icon>
                <a [routerLink]="['/benutzer']">Benutzerverwaltung</a>
            </mat-list-item>
            <mat-list-item *ngIf="sessionService.getUser()?.isAdministrator()">
                <mat-icon class="mat-icon material-icons mr-3" role="img" aria-hidden="true">business</mat-icon>
                <a [routerLink]="['/kunden']">Kundenverwaltung</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="mat-icon material-icons mr-3" role="img" aria-hidden="true">inbox</mat-icon>
                <a [routerLink]="['/jobs']">Jobverwaltung</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="mat-icon material-icons mr-3" role="img" aria-hidden="true">settings</mat-icon>
                <a [routerLink]="['/einstellungen']">Einstellungen</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <auftragsverwaltung-ng-header></auftragsverwaltung-ng-header>
        <div class="container main">
            <router-outlet></router-outlet>
        </div>
        <auftragsverwaltung-ng-footer></auftragsverwaltung-ng-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="loading-overlay" [hidden]="!uiService.loadingOverlayVisible">
    <mat-spinner></mat-spinner>
</div>
