@import 'variables';

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 300px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.container.main {
    padding-top: calc(#{$mat-toolbar-height} + 2rem);
    min-height: calc(100vh - #{$mat-toolbar-height});
}