<div class="list-group">
    <a *ngFor="let job of jobs" [routerLink]="['/jobs', job.id, 'details']" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{job.id}}</h5>
            <small>Abgabe: {{job.dateDeadline | date:'mediumDate'}}</small>
        </div>
        <p class="mb-1 text-left">{{job.description}}</p>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width':100 - job.getPercentageTimeLeft() + '%'}"></div>
            <div class="progress-bar bg-primary" role="progressbar" [ngStyle]="{'width':job.getPercentageTimeLeft() + '%'}"></div>
        </div>
    </a>
</div>