<auftragsverwaltung-ng-breadcrumb></auftragsverwaltung-ng-breadcrumb>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <action-headline [level]="1" [text]="customer.name" [actionButtons]="[{action: gotoEditHappened, color: 'primary', title: 'Bearbeiten', icon: 'edit'}]"></action-headline>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>{{customer.address}}</div>
        <div class="mb-3">{{customer.postcode}} {{customer.city}}</div>

        <div class="font-weight-bold">{{customer.contactPerson}}</div>
        <div>{{customer.mail}}</div>
        <div>{{customer.phone}}</div>
        <div>{{customer.fax}}</div>
    </mat-card-content>
</mat-card>