<auftragsverwaltung-ng-breadcrumb></auftragsverwaltung-ng-breadcrumb>

<h1 class="mb-3">
    <ng-container *ngIf="isOwnProfile">Eigenes Profil</ng-container>
    <ng-container *ngIf="!isOwnProfile">Benutzer ansehen</ng-container>
    <button mat-raised-button color="primary" [routerLink]="isOwnProfile ? ['..', 'profil', 'bearbeiten'] : ['..', 'bearbeiten']" class="ml-3 align-middle">
        {{isOwnProfile ? 'Eigene Daten bearbeiten' : 'Nutzer bearbeiten'}}
    </button>
</h1>

<p>
<ng-container *ngIf="isOwnProfile">Hier können die Daten zum eigenen Profil eingesehen und geändert werden.</ng-container>
<ng-container *ngIf="!isOwnProfile">Hier können die Details zum aktuell aufgerufenen Profil eingesehen werden.</ng-container>
</p>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>{{user.firstname}} {{user.lastname}}</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>Username: {{user.username}}</mat-list-item>
            <mat-list-item>E-Mail: {{user.email}}</mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-divider class="position-relative m-3"></mat-divider>
    <mat-card-footer class="m-0">
        <mat-chip-list>
            <mat-chip color="primary" selected>
                {{user.getRoleName()}}
            </mat-chip>
            <mat-chip color="primary" [attr.selected]="user.isActive ? 'selected' : ''">
                {{user.isActive ? 'Aktiviert' : 'Deaktiviert'}}
            </mat-chip>
        </mat-chip-list>
    </mat-card-footer>
</mat-card>