<auftragsverwaltung-ng-breadcrumb></auftragsverwaltung-ng-breadcrumb>

<action-headline
    [level]="1"
    [text]="isOwnProfile ? 'Eigenes Profil' : 'Benutzer ansehen'"
    [actionButtons]="[{action: gotoEditHappened, color: 'primary', title: 'Bearbeiten', icon: 'edit'}]"
></action-headline>

<p>
<ng-container *ngIf="isOwnProfile">Hier können die Daten zum eigenen Profil eingesehen und geändert werden.</ng-container>
<ng-container *ngIf="!isOwnProfile">Hier können die Details zum aktuell aufgerufenen Profil eingesehen werden.</ng-container>
</p>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>{{user.firstname}} {{user.lastname}}</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>Username: {{user.username}}</mat-list-item>
            <mat-list-item>E-Mail: {{user.email}}</mat-list-item>
        </mat-list>
    </mat-card-content>

    <mat-divider class="position-relative my-4"></mat-divider>

    <mat-card-footer class="m-0">
        <mat-chip-list>
            <mat-chip color="primary" selected>
                {{user.getRoleName()}}
            </mat-chip>
            <mat-chip color="primary" [selected]="user.isActive">
                {{user.isActive ? 'Aktiviert' : 'Deaktiviert'}}
            </mat-chip>
        </mat-chip-list>
    </mat-card-footer>
</mat-card>