<h1 mat-dialog-title>Rechnung buchen</h1>
<strong class="d-block mb-3">Hinweis: nach dem Buchen der Rechnung ist der Auftrag geschlossen und somit nur noch von Administrator*innen bearbeitbar.</strong>
<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field class="d-block">
            <input type="text" matInput placeholder="Rechnungsnummer" formControlName="invoiceNumber" required />
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="mb-0">
    <button mat-raised-button color="warn" (click)="onNoClick()">Abbrechen</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial [disabled]="!form.valid">Speichern</button>
</div>