<auftragsverwaltung-ng-breadcrumb [buttons]="[{icon: 'add_box', route: '/job/hinzufuegen'}]"></auftragsverwaltung-ng-breadcrumb>

<div class="row">
    <div class="col-12 col-md-6">
        <form [formGroup]="timespanForm">
            <mat-form-field class="mr-3">
                <input matInput formControlName="from" [matDatepicker]="listFromPicker" placeholder="von">
                <mat-datepicker-toggle matSuffix [for]="listFromPicker"></mat-datepicker-toggle>
                <mat-datepicker #listFromPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="to" [matDatepicker]="listToPicker" placeholder="bis">
                <mat-datepicker-toggle matSuffix [for]="listToPicker"></mat-datepicker-toggle>
                <mat-datepicker #listToPicker></mat-datepicker>
            </mat-form-field>
        </form>
    </div>
    <div class="col-12 col-md-6">
        <mat-form-field class="w-100">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Volltextsuche">
        </mat-form-field>
    </div>
</div>

<table class="w-100" mat-table matSort [dataSource]="jobs">
       <ng-container matColumnDef="id">
        <mat-header-cell mat-header-cell mat-sort-header *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let job">{{job.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateIncoming">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Eingangsdatum</mat-header-cell>
        <mat-cell *matCellDef="let job">{{job.dateIncoming | date:'shortDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateDeadline">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Abgabedatum</mat-header-cell>
        <mat-cell *matCellDef="let job">{{job.dateDeadline | date:'shortDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="deliveryType">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Lieferart</mat-header-cell>
        <mat-cell *matCellDef="let job">{{job.deliveryType}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="arrangers">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Bearbeiter</mat-header-cell>
        <mat-cell *matCellDef="let job" class="flex-wrap">
            <span  *ngFor="let arranger of job.arrangers" class="d-block badge badge-primary">{{arranger.firstname}} {{arranger.lastname}}</span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Beschreibung</mat-header-cell>
        <mat-cell *matCellDef="let job">{{job.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="externalPurchase">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Einkauf</mat-header-cell>
        <mat-cell *matCellDef="let job">{{job.externalPurchase}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="invoiceNumber">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Rechnungsnummer</mat-header-cell>
        <mat-cell *matCellDef="let job">{{job.getInvoiceNumber()}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedTasks">
        <td mat-cell *matCellDef="let job">
            <table class="w-100" mat-table [dataSource]="job.job.tasks">
               <ng-container matColumnDef="id">
                    <mat-header-cell mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let task">{{task.id}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="['id']"></mat-header-row>

                <mat-row
                    *matRowDef="let job; columns: ['id'];"
                    ></mat-row>
            </table>
        </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>

    <mat-row
        *matRowDef="let job; columns: columnsToDisplay;"
        class="job-row"
        matRipple
        [class.expanded]="expandedJob == job"
        (click)="expandedJob = job"
        ></mat-row>

    <mat-row *matRowDef="let job; columns: ['expandedTasks']; when: isTaskRow"
        [@taskExpand]="job.job == expandedJob ? 'expanded' : 'collapsed'"
        style="overflow: hidden"
        class="job-task-row"
        ></mat-row>
</table>
<mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>