.job-row {
    position: relative;
}

.job-row:not(.expanded) {
    cursor: pointer;
}

.job-row:not(.expanded):hover {
    background: #f5f5f5;
}

.job-row.expanded {
    border-bottom-color: transparent;
}

.job-task-row td {
    border: none;
}