<auftragsverwaltung-ng-breadcrumb [buttons]="[{icon: 'add_box', route: 'neu'}]"></auftragsverwaltung-ng-breadcrumb>

<form [formGroup]="filterForm">
    <div class="row">
        <div class="col-12 col-md-3">
            <mat-form-field class="mr-3">
                <input matInput formControlName="from" [matDatepicker]="listFromPicker" placeholder="von">
                <mat-datepicker-toggle matSuffix [for]="listFromPicker"></mat-datepicker-toggle>
                <mat-datepicker #listFromPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-12 col-md-3">
            <mat-form-field>
                <input matInput formControlName="to" [matDatepicker]="listToPicker" placeholder="bis">
                <mat-datepicker-toggle matSuffix [for]="listToPicker"></mat-datepicker-toggle>
                <mat-datepicker #listToPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
            <mat-form-field class="w-100">
                <input matInput formControlName="search" placeholder="Volltextsuche">
                <button mat-button *ngIf="filterForm.controls['search'].value" matSuffix mat-icon-button aria-label="Clear" (click)="filterForm.controls['search'].setValue('')">
                        <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <mat-form-field>
                <mat-select matInput formControlName="sort" placeholder="Sortieren nach">
                    <mat-option value="id">Jobnummer</mat-option>
                    <mat-option value="description">Beschreibung</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="toggleSortDirection()">
                    <mat-icon *ngIf="!sortDirectionAsc">arrow_downward</mat-icon>
                <mat-icon *ngIf="sortDirectionAsc">arrow_upward</mat-icon>
            </button>
        </div>
        <div class="col-12 col-md-6 text-right my-auto">
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="filterMenu" aria-label="Filter-Menü öffnen">
                Filter
            </button>
            <mat-menu class="p-3" #filterMenu="matMenu" xPosition="before">
                <mat-slide-toggle class="d-block mb-3" (click)="$event.stopPropagation();" formControlName="filterOpen" matTooltip="Jobs ohne Rechnungsnummer">offen</mat-slide-toggle>
                <mat-slide-toggle class="d-block mb-3" (click)="$event.stopPropagation();" formControlName="filterClosed" matTooltip="Jobs mit Rechnungsnummer">geschlossen</mat-slide-toggle>
                <mat-slide-toggle class="d-block" (click)="$event.stopPropagation();" formControlName="filterOverdue" matTooltip="Jobs ohne Rechnungsnummer und mit überschrittenem Abgabedatum">überfällig</mat-slide-toggle>
            </mat-menu>
        </div>
    </div>
</form>

<mat-paginator #paginator [length]="jobsInTimespanFiltered.length" (page)="updatePage($event)" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>

<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let job of jobsInTimespanFilteredPaged" (opened)="job.opened = true" (closed)="job.opened = false" [expanded]="job.opened">
        <mat-expansion-panel-header [collapsedHeight]="'58px'" [expandedHeight]="'58px'">
            <mat-panel-title>
                <span [innerHtml]="job.job.id | highlight: searchString"></span>
                <span class="ml-3" *ngIf="!job.opened" [innerHtml]="job.job.customer.name | highlight: searchString"></span>
            </mat-panel-title>
            <mat-panel-description class="flex-fill">
                <span class="text-right" *ngIf="!job.opened" [innerHtml]="job.job.description | words:10 | highlight: searchString"></span>
            </mat-panel-description>

            <mat-chip *ngIf="job.job.isClosed()" class="mr-3" color="primary" selected>geschlossen</mat-chip>
            <mat-chip *ngIf="job.job.isOverdue()" class="mr-3" color="warn" selected>überfällig</mat-chip>

            <button mat-mini-fab class="mr-3" type="button" color="primary" title="Job ansehen"
                [routerLink]="[job.job.id, 'details']" (click)="false" (click)="$event.stopPropagation();"
            >
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-mini-fab class="mr-3" type="button" color="primary" title="Job bearbeiten"
                    [routerLink]="[job.job.id, 'bearbeiten']" (click)="$event.stopPropagation();"
                    *ngIf="!job.job.isClosed() || (job.job.isClosed() && sessionService.getUser().isAdministrator())"
            >
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab class="mr-3" type="button" color="primary" title="Aufwand buchen"
                *ngIf="!job.job.isClosed()"
                (click)="showTaskFormDialog(job.job)"
                (click)="$event.stopPropagation();"
            >
                <mat-icon>playlist_add</mat-icon>
            </button>
        </mat-expansion-panel-header>
        <job-detail [inputJob]="job.job" [summaryMode]="true" [textToHighlight]="searchString" [updateTaskTable]="updateTaskTable"></job-detail>
    </mat-expansion-panel>
</mat-accordion>
