.job-row {
    position: relative;

    &:not(.expanded) {
        cursor: pointer;

        &:hover {
            background: #f5f5f5;
        }
    }

    &.expanded {
        border-bottom-color: transparent;
    }

    .mat-column-actions .mat-button {
        min-width: 0px;
    }
}

.job-task-row td {
    border: none;
}