<div class="row mb-3">
    <div class="col-12 text-right">
        <mat-menu #sortMenu>
            <mat-list cdkDropList (cdkDropListDropped)="dropWidget($event)">
                <mat-list-item *ngFor="let widget of widgets" cdkDrag>
                    <mat-icon cdkDragHandle class="mr-2 cursor-pointer">drag_handle</mat-icon>
                    {{widget.label}}
                </mat-list-item>
            </mat-list>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="sortMenu" title="Widgets sortieren">
            <mat-icon>sort</mat-icon>
        </button>
    </div>
</div>
<div class="row widgets">
    <div *ngFor="let widget of widgets" class="col-12 col-lg-{{widget.cols}} mb-3">
        <div class="card h-100 shadow">
            <div class="card-body">
                <h5 class="card-title">{{widget.label}}</h5>
                <ng-template #widgetContainer></ng-template>
            </div>
        </div>
        <div class="loading-overlay position-absolute" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>