<mat-toolbar color="primary">
    <button class="mat-button" type="button" (click)="emitMainMenuToggle()">
        <mat-icon class="mat-icon material-icons">menu</mat-icon>
    </button>
    <span>Fresko Auftragsverwaltung</span>
    <span class="flex-fill"></span>
    <button class="mat-button" type="button" (click)="gotoDashboard()">
        <mat-icon class="mat-icon material-icons">home</mat-icon>
    </button>
    <button class="mat-button" type="button">
        <mat-icon class="mat-icon material-icons" (click)="logout()">exit_to_app</mat-icon>
    </button>
</mat-toolbar>