<auftragsverwaltung-ng-breadcrumb></auftragsverwaltung-ng-breadcrumb>

<action-headline
    [level]="1"
    [text]="createNew ? 'Neuen Kunden erstellen' : 'Kunde bearbeiten'"
    [actionButtons]="[{action: discardHappened, color: 'warn', title: 'Verwerfen', icon: 'cancel'}]"
></action-headline>

<form [formGroup]="form" (submit)="form.valid && save()" class="pt-3">
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="PLZ" formControlName="postcode">
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Ort" formControlName="city">
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Adresse" formControlName="address">
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Kontaktperson" formControlName="contactPerson">
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="E-Mail" formControlName="mail">
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Telefon" formControlName="phone">
    </mat-form-field>
    <mat-form-field class="d-block">
        <input matInput type="text" placeholder="Fax" formControlName="fax">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Daten speichern</button>
</form>
