@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$auftragsverwaltung-ng-primary: mat.define-palette(mat.$light-green-palette, 500, 300, 700);
$auftragsverwaltung-ng-accent: mat.define-palette(mat.$brown-palette, 500, 700, 900);
$auftragsverwaltung-ng-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$auftragsverwaltung-ng-theme: mat.define-light-theme($auftragsverwaltung-ng-primary, $auftragsverwaltung-ng-accent, $auftragsverwaltung-ng-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($auftragsverwaltung-ng-theme);